<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A Swift class for performing requests using the HTTP Client.</string>
	<key>SortOrder</key>
	<string>6</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the service class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>GET Request</string>
			<key>Description</key>
			<string>What HTTP method to use for the request</string>
			<key>Identifier</key>
			<string>httpMethod</string>
			<key>Name</key>
			<string>HTTP Method</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>GET Request</string>
				<string>POST Request</string>
				<string>PUT Request</string>
				<string>DELETE Request</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
